{{ define "main" }}
{{ $allPages := sort .Site.RegularPages "Date" "desc" }}

{{/* 获取各分类文章数 */}}
{{ $diaryCount := len (where .Site.RegularPages "Section" "diary") }}
{{ $articleCount := len (where .Site.RegularPages "Section" "articles") }}
{{ $scienceCount := len (where .Site.RegularPages "Section" "science") }}

{{ if eq .Kind "home" }}
{{/* 首页 */}}
<div class="home-container">
    <div class="home-sidebar">
        
    </div>
    
    <div class="home-content">
        <div class="post-list">
            <div class="list-title" style="display:none;">最新文章</div>
            <ul class="post-items">
                {{ range $allPages }}
                <li class="post-item">
                    <div class="post-item-main">
                    <a href="{{ .RelPermalink }}" class="post-link">{{ .Title }}</a>
                    <span class="post-date">{{ .Date.Format "2006-01-02 15:04:05" }}</span>
                </div>
                    <span class="post-section">
                        {{ if eq .Section "diary" }}🧠{{ else if eq .Section "articles" }}📝{{ else if eq .Section "science" }}🔬{{ end }}
                    </span>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</div>

{{ else if eq .Kind "section" }}
{{/* 分类页 */}}
<div class="home-container">
    <div class="home-sidebar">
        
    </div>
    
    <div class="home-content">
        <div class="post-list">
            <div class="list-title" style="display:none;">{{ .Title }}</div>
            <ul class="post-items">
                {{ range sort .Pages "Date" "desc" }}
                <li class="post-item">
                    <div class="post-item-main">
                    <span class="post-date">{{ .Date.Format "2006-01-02 15:04:05" }}</span>
                    <a href="{{ .RelPermalink }}" class="post-link">{{ .Title }}</a>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</div>

{{ else }}
{{/* 其他页面（如标签页） */}}
<div class="home-container">
    <div class="home-sidebar">
        
    </div>
    
    <div class="home-content">
        <div class="post-list">
            <div class="list-title" style="display:none;">{{ .Title }}</div>
            <ul class="post-items">
                {{ range sort .Pages "Date" "desc" }}
                <li class="post-item">
                    <div class="post-item-main">
                    <span class="post-date">{{ .Date.Format "2006-01-02 15:04:05" }}</span>
                    <a href="{{ .RelPermalink }}" class="post-link">{{ .Title }}</a>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</div>
{{ end }}
{{ end }}